.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background-color: #fff;
  /* background-color: #c8e6ff; */
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.chat-body {
  display: flex;
  flex: 1;
  height: 100%;
}

.welcome-text {
  text-align: left;
}

.chat-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
}

.logout-btn {
  justify-self: end;
  background-color: #c48e58;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #b98f65;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #f9f9f9;
}

/* 
place holder bot img */
/* background-color: #e6f5ff; */

.empty-chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #e6f5ff; */
  padding: 40px;
  text-align: center;
  border-radius: 12px;
}

.friendly-bot-img {
  width: 290px;
  max-width: 100%;
  margin-bottom: 5px;
}
.empty-chat-text {
  font-size: 20px;
  color: #333;
}
